@{
    var userName = User?.Identity?.Name;
    var avatarUrl = User.Identity.IsAuthenticated ?
    ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("AvatarUrl")?.Value : null;
    var  userRol = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value;
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inmobiliaria</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/adminlte.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/inmobiliaria_Toloza_Lopez.styles.css" asp-append-version="true" /> *@
</head>

<body class="hold-transition sidebar-mini-md sidebar-collapse">
    <div>
        <aside class="main-sidebar sidebar-light-primary elevation-4">
            <a class="brand-link" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/img/logo_300.png" alt="Inmobiliaria TL Logo" class="brand-image img-circle elevation-3"
                    style="opacity: .8">
                <span class="brand-text font-weight-light">Inmobiliara T & L</span>
            </a>
            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        @{
                            if (!string.IsNullOrEmpty(avatarUrl))
                            {
                                <img src="@Url.Content("~/uploads/" + avatarUrl)" class="img-circle elevation-2"
                                    alt="avatar-de-usuario">
                            }
                            else
                            {
                                <img src="@Url.Content("~/img/avatar.png")" class="img-circle elevation-2"
                                    alt="avatar-generico">
                            }
                        }
                    </div>
                    <div class="info">
                        <a asp-controller="Usuario" asp-action="Perfil" class="d-block">@userName</a>
                    </div>
                </div>

                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" data-accordion="false">
                        @if (userRol == "administrador")
                        {
                            <li class="nav-item">
                                <a asp-controller="Usuario" asp-action="admin" class="nav-link">
                                    <i class="nav-icon fas fa-cogs"></i>
                                    <p> Administracion sistema</p>
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a href="/inmueble?q=1" class="nav-link">
                                @* <i class="nav-icon fas fa-th"></i> *@
                                <i class="nav-icon fas fa-city"></i>
                                <p>
                                    Inmuebles
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/propietario" class="nav-link">
                                @* <i class="nav-icon fas fa-th"></i> *@
                                <i class="fas fa-house-user"></i>
                                <p>
                                    Propietarios
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/inquilino" class="nav-link">
                                @* <i class="nav-icon fas fa-th"></i> *@
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    Inquilinos
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/contrato" class="nav-link">
                                @* <i class="nav-icon fas fa-th"></i> *@
                                <i class="nav-icon fas fa-solid fa-file-contract"></i>
                                <p>
                                    Contratos
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Usuario" asp-action="Logout" class="nav-link">
                                <i class="nav-icon fas fa-door-open"></i>
                                <p>
                                    Cerrar Sesion
                                </p>
                            </a>
                        </li>
                </nav>
            </div>
        </aside>
        @* seccion del body *@
        <div class="container-xxl primary">
            <main role="main">
                @* se inyecta el body *@
                @RenderBody()
            </main>
        </div>
        @* seccion del footer *@
        <footer class="border-top footer text-muted fixed-bottom">
            <div class="container">
                &copy; 2024 Inmobiliaria Toloza-Lopez - <a asp-area="" asp-controller="Home"
                    asp-action="Privacy">Privacy</a>
            </div>
    </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/adminlte.js" asp-append-version="true"></script>
    <script src="~/js/service.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
s