@{
    ViewData["Title"] = "Inicio de sesión";
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <title> @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/all.css" asp-append-version="false" />
    <link rel="stylesheet" href="~/css/adminlte.css" asp-append-version="false" />
    @* <link rel="stylesheet" href="~/inmobiliaria_Toloza_Lopez.styles.css" asp-append-version="true" /> *@
</head>

<body>
    @* seccion del body *@
    <div class="container-xxl primary">
        <main role="main">
            @* se inyecta el body *@
            @RenderSection("login", false)
            @RenderBody()
        </main>
    </div>
    @RenderSection("recuperarPass", required: false)
    @RenderSection("Scripts", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/adminlte.js" asp-append-version="true"></script>
    @* Aquí puedes incluir cualquier script adicional necesario *@
</body>

</html>
