@model inmobiliaria_Toloza_Lopez.Models.Pago

@{
    ViewData["Title"] = "Asignar Pago";
    string fechaCancelacion=@DateOnly.ParseExact(DateTime.Now.ToString("yyyy-MM-dd"), "yyyy-MM-dd", null).ToString("yyyy-MM-dd");
}

<div class="text-center">
    <h1 class="display-4">Pago Cancleacion Contrato</h1>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card p-4 shadow">
                <form id="formPago" method="post" action="@Url.Action("CancelPago", "Pago")">
                    <div class="form-group">
                        <label for="contrato">Contrato:</label>
                        <input type="text" class="form-control" readonly value="@ViewBag.Contrato.ToStringPago()">
                        <input type="hidden" id="id_contrato_hidden" name="id_contrato" value="@ViewBag.Contrato.id">
                        <input type="hidden" name="fechaEfectiva" value="@fechaCancelacion">
                    </div>
                    <div class="form-group">
                        <label for="importe">Importe:</label>
                        <input type="number" class="form-control" id="importe" name="importe"
                            value="@ViewBag.Contrato.monto" readonly>
                    </div>
                    <div class="form-group">
                        <label for="numero_pago">Numero de pago:</label>
                        <input type="number" class="form-control" id="numero_pago" name="numero_pago"
                            value="@ViewData["numero"]" readonly>
                        <input type="hidden" id="numero_pago_hidden" name="numero_pago" value="@ViewData["numero"]">
                    </div>
                    <div class="form-group">
                        <label for="detalle">Detalle:</label>
                        <textarea class="form-control" id="detalle" name="detalle" rows="3">Cancela Pago, Fecha @fechaCancelacion </textarea>
                    <button type="submit" class="btn btn-primary" id="btnSubmit">Asignar Pago</button>
                </form>
            </div>

            @if (TempData["mensaje"] != null)
            {
                <div class="alert alert-success mt-4" role="alert">
                    @TempData["mensaje"]
                </div>
            }

        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById("btnSubmit").addEventListener("click", function (event) {
            event.preventDefault();
            Swal.fire({
                title: '¿Estás seguro?',
                text: 'Estás por realizar una acción importante. ¿Deseas continuar?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, continuar',
                cancelButtonText: 'Cancelar',
                allowOutsideClick: false
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById("formPago").submit();
                }
            });
        });
    </script>
}
