@model TipoInmueble
@{
    var  userRol = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value;
}


<div class="text-center">
    <h1 class="display-4">Tipo Inmuebles</h1>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4 shadow">
                    <form id="formTipoInmueble" method="post" action="@Url.Action("update", "tipoInmueble")">
                    @if (TempData["mensaje"] != null) @Html.Raw(TempData["mensaje"])     
                        <div class="form-group">
                            <label for="tipoInmueble">Cambiar Tipo Inmueble:</label>
                            <input type="hidden" class="form-control" id="id" name="id" value="@Model.id">
                            <input type="text" class="form-control" id="tipoInmueble" name="tipo" value="@Model.tipo">                        
                            <label for="tipoInmueble">Borrar:</label>
                            <div class="custom-control custom-switch mb-3 mr-3 ">
                                <input type="checkbox" class="custom-control-input" id="borrado" name="borrado" value = 1 @(Model.borrado == 1 ? "checked" : "")  />
                                <label class="custom-control-label mb-3 mr-3" for="borrado"></label>
                            </div>                                        
                            <button type="submit" class="btn btn-primary mt-2" id="btnSubmit">Guardar cambios</button>
                        </div>
                    </form>    
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

    </script>
}
