@model IEnumerable<Propietario>
@{
    ViewData["Title"] = "Inicio";
}

@{
    string alertMessage = "";

    string alertType = "";

    if (TempData["AlertMessage"] != null)
    {
        alertMessage = TempData["AlertMessage"].ToString();
    }
    if (TempData["AlertType"] != null)

    {
        alertType = TempData["AlertMessage"].ToString();
    }
}
@if (!string.IsNullOrEmpty(alertMessage))

{
    <script>
        alert("@alertMessage");
    </script>
}
<div class="text-center">
    <h1 class="display-4">Listado de Propietarios</h1>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="6">Cantidad: @Model.Count()</th>
            </tr>
            <tr>
                <th class="text-center">id</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Apellido</th>
                <th class="text-center">DNI</th>
                <th class="text-center">Email</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var propietario in Model)
            {
                <tr>
                    <td class="text-center">@propietario.id</td>
                    <td class="text-center">@propietario.nombre</td>
                    <td class="text-center">@propietario.apellido</td>
                    <td class="text-center">@propietario.dni</td>
                    <td class="text-center">@propietario.email</td>
                    <td class="text-center">
                        <a class="btn btn-secondary mx-2" href="~/propietario/edit/@propietario.id"><i
                                class="fas fa-user-edit"></i> Editar </a>
                        <a class="btn btn-danger mx-2" href="~/propietario/delete/@propietario.id"><i
                                class="fas fa-user-times"></i>
                            Borrar </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<div class="container">
    <a href="/propietario/create" class="btn btn-primary">
        <i class="fa fa-user-plus"></i> Nuevo Propietario
    </a>
</div>
@section Scripts {
    @* <script src="~/js/inquilino.js"></script> *@
}
