@model IEnumerable<Propietario>
@{
    ViewData["Title"] = "Inicio";
    var userRol = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value;
}
<div class="text-center">
    <h1 class="display-4">Listado de Propietarios</h1>
</div>
<div>
    @* seccion busqueda *@
        <div class="container-fluid p-0">
        <label class="form-check-label fs-4" for="formPropietario">Busqueda Propietario</label>
        <div class="border-top border-bottom mb-1 ">            
            <div class="d-flex justify-content-between align-items-center px-3 py-2">                
                <form id= "formPropietario" method="get" action="/propietario" name="form-propietario" class="d-flex justify-content-evenly w-100">
                    <input hidden type="text" name="page" value=1>
                    <div class="d-flex justify-content-evenly w-100  align-items-center">                        
                        <div class="flex-item row w-25">
                            <label class="form-check-label" for="buscaPropietario">Propietario</label>
                            <input id="dataPropietario" name="dataPropietario" class="form-control form-control-sm mb-2" type="text"
                                placeholder="Ingrese Nombre apellido o dni buscar" aria-label="fecha-inicio-pedida" value="">                                
                        </div>                        
                        <div class="flex-item w-75 align-items-center ">
                            @if (!(Model != null && Model.Any()))
                                {
                                    <a href="/propietario"  class="btn btn-success pb-1 ml-4 mt-3 "  ><i class="fa fa-user-plus"> Nuevo</i></a>
                                }
                            @* hidden-link *@
                        </div>                       
                        <div class="flex-item w-25">
                            <button type="submit" class="btn btn-primary py-3 mr-2"><i class="fas fa-search"> Buscar</i></button>
                            <a href="/propietario"  class="btn btn-success py-3" ><i class="fas fa-ban"> Reset</i></a> 
                        </div>
                    </div>
                </form>                
            </div>
        </div>
    </div>
    @* @if (Model != null && Model.Any()) *@
    @if (!(Model != null && Model.Any()))
    {
        <div class="alert alert-warning" role="alert">
            <p>Lo siento no pudimos encontrar un Propietario  segun su pedido</p>
            <p>Refine su filtro o cree el mismo </p>
        </div>
    }
    else
    {
    @* seccion tabla *@
    <table class="table table-striped">
        <thead>            
            <tr>
                <th class="text-center">Nombre</th>
                <th class="text-center">Apellido</th>
                <th class="text-center">DNI</th>
                <th class="text-center">Email</th>
                <th class="text-center">Telefono</th>
                <th colspan="5" class="text-center">Administracion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var propietario in Model)
            {
                <tr>
                    <td class="text-center">@propietario.nombre</td>
                    <td class="text-center">@propietario.apellido</td>
                    <td class="text-center">@propietario.dni</td>
                    <td class="text-center">@propietario.email</td>
                    <td class="text-center">@propietario.telefono</td>
                    <td colspan="5" class="text-center ms-col">
                        <a class="btn btn-secondary py-1 mx-1" asp-controller="propietario" asp-action="edit" asp-route-id="@propietario.id">
                            <i class="fas fa-user-edit"> Editar</i>
                        </a>
                        <a class="btn btn-secondary py-1 mx-1" asp-controller="inmueble" asp-action="create" asp-route-id="@propietario.id">
                            <i class="fas fa-plus-square mx-2 "> Nuevo Inmueble </i>
                        </a>
                        @if (userRol == "administrador")
                        {
                        <a class="btn btn-secondary py-1 mx-1" asp-controller="propietario" asp-action="contratoList" asp-route-id="@propietario.id">
                            <i class="fas fa-solid fa-file-contract mx-2 "> Contratos</i>
                        </a>
                        <a class="btn btn-secondary py-1 mx-1" asp-controller="propietario" asp-action="inmueblesList" asp-route-id="@propietario.id">
                            <i class="fas fa-city mx-2 "> Inmuebles</i>
                        </a>
                            <a class="btn btn-danger py-1 mx-1" asp-controller="propietario" asp-action="delete" asp-route-id="@propietario.id">
                                <i class="fas fa-trash-alt"> Borrar</i>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
</div>
<div class="container">
    <p>
        << paginador>>
    </p>
</div>
@section Scripts {
    @* <script src="~/js/inquilino.js"></script> *@
     <script>
                                document.querySelector('.hidden-link').style.visibility = 'hidden';
                            </script>
}
