@model IEnumerable<Propietario>
@{
    ViewData["Title"] = "Inicio";
}
<div class="text-center">
    <h1 class="display-4">Listado de Propietarios</h1>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="9">Cantidad: @Model.Count()</th>
                <th class="text-center"> 
                    <a href="/propietario/create" class="btn btn-primary">
                        <i class="fa fa-user-plus"></i> Nuevo PAGO
                    </a>
                </th>
            </tr>
            <tr>
                <th class="text-center">cONTRATRONombre</th>
                <th class="text-center">Apellido</th>
                <th class="text-center">DNI</th>
                <th class="text-center">Email</th>
                <th class="text-center">Telefono</th>
                <th colspan="5" class="text-center">Administracion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var propietario in Model)
            {
                <tr>

                    <td class="text-center">@propietario.nombre</td>
                    <td class="text-center">@propietario.apellido</td>
                    <td class="text-center">@propietario.dni</td>
                    <td class="text-center">@propietario.email</td>
                    <td class="text-center">@propietario.telefono</td>
                    @* <td colspan="4" class="text-center"> *@
                    <td colspan="5" class="text-center ms-col">                        
                        <a class="btn btn-danger mx-2 mb-2 text-nowrap w-20" title="Editar propietario" href="~/propietario/edit/@propietario.id">
                            <i class="fas fa-user-edit"></i> 
                            <span class="d-none d-md-inline">Editar</span>
                        </a>
                        <a class="btn btn-danger mx-2 mb-2 text-nowrap w-20" title ="Borrar popietario" href="~/propietario/delete/@propietario.id">
                            <i class="fas fa-user-times mx-2"></i>
                            <span class="d-none d-md-inline">Borrar</span>
                        </a>
                        <a class="btn btn-danger mx-2 mb-2 text-nowrap w-20" title="Inmuebles del propietario" href="~/inmueble/propietario/@propietario.id">
                            <i class="fas fa-solid fa-house-user mx-2"></i>
                            <span class="d-none d-md-inline">Inmuebles </span>
                        </a>
                        <a class="btn btn-danger mx-2 mb-2 text-nowrap w-20" title="Contratos del Propietario" href="~/propietario/contratos/@propietario.id">
                            <i class="fas fa-solid fa-file-contract mx-2 "></i>
                            <span class="d-none d-md-inline">Contratos </span>
                        </a>                        
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<div class="container">
    <p>
        << paginador>>
    </p>
</div>
@section Scripts {
    @* <script src="~/js/inquilino.js"></script> *@
}
