@model inmobiliaria_Toloza_Lopez.Models.Propietario

@{
    ViewData["Title"] = "Inicio";
    Console.WriteLine(ViewBag.tipoForm);
    int id = 0;
    var nombre = "";
    var apellido = "";
    var dni = "";
    var email = "";
    var telefono = "";
    var verbo = "Nuevo";
    if (ViewBag.tipoForm == "Editando Propietario")
    {
        Console.WriteLine(ViewData["Propietario"]);
        Console.WriteLine(Model.id);
        Console.WriteLine(Model.nombre);
        Console.WriteLine(Model.apellido);
        Console.WriteLine(Model.dni);
        Console.WriteLine(Model.email);
        Console.WriteLine(ViewBag.verboForm);
        id = Model.id;
        nombre = Model.nombre;
        apellido = Model.apellido;
        dni = Model.dni;
        email = Model.email;
        verbo = ViewBag.verboForm;
    }
}

<div class="container w-75 m-5">
    <div class="text-center">
        <h1 class="display-3">@ViewBag.tipoForm</h1>
    </div>
    <form asp-action="@verbo" asp-controller="propietario" asp-route-id="@(((int)id != 0) ? (int)id : "")">
        <div class="w-100 m-5">
            <div class="w-75 m-5">
                <label for="nombre-propietario" class="">Nombre Propietario</label>
                <input type="text" class="form-control" id="nombre-propietario" placeholder="Ingrese nombre"
                    name="nombre" required verfy="text" value="@nombre">
            </div>
            <div class="w-75 m-5">
                <label for="apellido-propietario" class="">Apellido Propietario</label>
                <input type="text" class="form-control" id="apellido-propietario" placeholder="Ingrese apellido"
                    name="apellido" required verfy="text" value="@apellido">
            </div>
            <div class="w-75 m-5">
                <label for="dni-propietario" class="">Documento Propietario</label>
                <input type="text" class="form-control" id="dni-propietario" placeholder="Ingrese DNI" name="dni"
                    required title="Ingrese un dni valido" verfy="number" value="@dni">
            </div>
            <div class="w-75 m-5">
                <label for="email-propietario" class="">Email Propietario</label>
                <input type="email" class="form-control" id="email-propietario" placeholder="Ingrese Email" name="email"
                    title="Ingrese un email valido" required verfy="email" value="@email">
            </div>
            <div class="w-75 m-5">
                <label for="telefono-propietario" class="">Celular</label>
                <input type="number" class="form-control" id="telefono-propietario" placeholder="Ingrese un telefono"
                    name="telefono" required verfy="number" value="@telefono" min="0" max="999999999999">
            </div>
        </div>
        <div class="modal-footer  justify-content-around">
            <a href="/propietario" class="btn btn-secondary">
                Cerrar
            </a>
            <button type="reset" class="btn btn-warning">Borrar</button>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>
@section Scripts {
    <script src="~/js/propietario.js"></script>
}
