@model inmobiliaria_Toloza_Lopez.Models.Pago

@{
    ViewData["Title"] = "Asignar Pago";
}

<div class="text-center">
    <h1 class="display-4">Asignar Pago</h1>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4 shadow">
                <form id="formPago" method="post" action="@Url.Action("AsignarPago", "Pago")">
                    <div class="form-group">
                        <label for="contrato">Seleccionar Contrato:</label>
                        <input type="text" class="form-control" readonly value="@ViewBag.Contrato.ToStringPago()">
                        <input type="hidden" id="id_contrato_hidden" name="id_contrato" value="@ViewBag.Contrato.id">
                    </div>
                    <div class="form-group">
                        <label for="importe">Importe:</label>
                        <input type="number" class="form-control" id="importe" name="importe"
                            value="@ViewBag.Contrato.monto" readonly>
                    </div>
                    <div class="form-group">
                        <label for="numero_pago">Numero de pago:</label>
                        <input type="number" class="form-control" id="numero_pago" name="numero_pago"
                            value="@ViewData["numero"]" readonly>
                        <input type="hidden" id="numero_pago_hidden" name="numero_pago" value="@ViewData["numero"]">
                    </div>
                    <div class="form-group">
                        <label for="detalle">Detalle:</label>
                        <textarea class="form-control" id="detalle" name="detalle" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" id="btnSubmit">Asignar Pago</button>
                </form>
            </div>

            @if (TempData["mensaje"] != null)
            {
                <div class="alert alert-success mt-4" role="alert">
                    @TempData["mensaje"]
                </div>
            }

        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById("btnSubmit").addEventListener("click", function () {
            var importe = document.getElementById("importe").value;
            var numeroPago = document.getElementById("numero_pago").value;

            if (importe === "" || numeroPago === "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Ups...',
                    text: 'Por favor, complete todos los campos requeridos.',
                });
                return;
            }
            document.getElementById("formPago").submit();
        });
    </script>
    <script>
        document.getElementById("numero_pago").addEventListener("input", function () {
            var numeroPago = document.getElementById("numero_pago").value;
            if (numeroPago < 0 || numeroPago > 15) {
                document.getElementById("numero_pago").value = 15;
                Swal.fire({
                    icon: 'error',
                    title: 'Ups...',
                    text: 'El número de pago debe ser un número entero entre 1 y 15.',
                });
            }
        });
    </script>
}
