@model IEnumerable<Pago>
@{
    ViewData["Title"] = "Listado de Pagos";
}

<div class="text-center">
    <h1 class="display-4">Listado histórico de Pagos</h1>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <caption>Listado histórico de Pagos</caption>
        <thead> @* class="thead-dark" *@
            <tr>
                <th scope="col">Datos del Contrato</th>
                <th scope="col">Número de Pago</th>
                <th scope="col">Fecha de Pago</th>
                <th scope="col">Importe</th>
                <th scope="col">Detalle</th>
                <th scope="col">                    
                    <a class="btn btn-dark btnInfo " href="/Usuario/admin"><i class="nav-icon fas fa-cogs" aria-hidden="true"> Volver</i></a>    
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pago in Model)
            {
                <tr>
                    <td>
                        <ul class="list-unstyled">
                            <li>Inquilino: @(pago.Contrato.inquilino.nombre + " " + pago.Contrato.inquilino.apellido)</li>
                            <li>Direccion del inmueble: @pago.Contrato.inmueble.direccion</li>
                        </ul>
                    </td>
                    <td>@pago.numero_pago</td>
                    <td>@pago.fecha_pago.ToString("dd/MM/yyyy")</td>
                    <td>@pago.Contrato.monto</td>
                    <td>@(string.IsNullOrEmpty(pago.detalle) ? "Sin detalle" : pago.detalle)</td>
                    <td>
                        <a class="btn btn-dark btnInfo " href="/pago/listarPagosPorContrato/@pago.id_contrato">
                            <i class="fas fa-info-circle" > Ver Info</i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>

    </script>
}
