@model IEnumerable<Pago>
@{
    ViewData["Title"] = "Listado de Pagos";
}

<div class="text-center">
    <h1 class="display-4">Listado de Pagos</h1>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Número de Pago</th>
                <th scope="col">Fecha de Pago</th>
                <th scope="col">Importe</th>
                <th scope="col">Detalle</th>
                <th scope="col">Dirección del Inmueble</th>
                <th scope="col">Fecha de Inicio del Contrato</th>
                <th scope="col">Fecha de Fin del Contrato</th>
                <th scope="col">Propietario</th>
                <th scope="col">Abono Mensual</th>
            </tr>
              <a class="btn btn-dark btnInfo " href="/Usuario/admin"><i class="nav-icon fas fa-cogs" aria-hidden="true"> VolveFr</i></a>    
        </thead>
        <tbody>
            @foreach (var pago in Model)
            {
                <tr>
                    <td>Pago N°: @pago.numero_pago</td>
                    <td>@pago.fecha_pago.ToString("dd/MM/yyyy")</td>
                    <td>@pago.importe</td>
                    <td>@pago.detalle</td>
                    <td>@(pago.Contrato != null ? pago.Contrato.inmueble.direccion : "")</td>
                    <td>@(pago.Contrato != null ? pago.Contrato.fecha_inicio.ToString("dd/MM/yyyy") : "")</td>
                    <td>@(pago.Contrato != null ? pago.Contrato.fecha_fin.ToString("dd/MM/yyyy") : "")</td>
                    <td>@(pago.Contrato != null ? pago.Contrato.inmueble.propietario.nombre : "")</td>
                    <td>@(pago.Contrato != null ? pago.Contrato.monto.ToString() : "")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @* <script src="~/js/inquilino.js"></script> *@
}
