@model IEnumerable<Inmueble>
@{
    ViewData["Title"] = "Inicio";
    var request = ViewContext.HttpContext.Request;
    string urlActual = request.Path + request.QueryString;
    string? tipoInmuebleForm = request.Query["tipoInmueble"];
    string? ciudadInmuebleForm = request.Query["ciudadInmueble"];
    string? paginaActualForm = request.Query["page"];
    int? paginaActual = string.IsNullOrEmpty(paginaActualForm) ? null : (int.TryParse(paginaActualForm, out int
    parsedPaginaActual) ? parsedPaginaActual : (int)0);
    string? usoInmuebleValor = string.IsNullOrEmpty(request.Query["usoInmueble"]) ? "all" : request.Query["usoInmueble"];
    string? precioInmuebleValor = string.IsNullOrEmpty(request.Query["precioInmueble"]) ? "" :
    request.Query["precioInmueble"];
    int? tipoInmuebleValor = string.IsNullOrEmpty(tipoInmuebleForm) ? null : (int.TryParse(tipoInmuebleForm, out int
    parsedTipoInmueble) ? parsedTipoInmueble : (int?)null);
    int? ciudadInmuebleValor = string.IsNullOrEmpty(ciudadInmuebleForm) ? null : (int.TryParse(ciudadInmuebleForm, out int
    parsedCasaInmueble) ? parsedCasaInmueble : (int?)null);
    string? urlLimpia = Url.Action("", new
    {
        usoInmueble = usoInmuebleValor,
        precioInmueble = precioInmuebleValor,
        tipoInmueble = tipoInmuebleValor,
        ciudadInmueble = ciudadInmuebleValor
    });
}
<div class="text-center">
    <h1 class="display-4">Listado de Inmuebles @ViewBag.paginaActual - @ViewBag.TotalPages</h1>
</div>
<div>
    <div class="container-fluid p-0">
        <div class="border-top border-bottom mb-1 mt-5">
            <div class="d-flex justify-content-between align-items-center px-3 py-2">
                <form method="get" action="/inmueble" name="form-inmueble" class="d-flex justify-content-evenly w-75">
                    <div class="d-flex justify-content-evenly w-100">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="usoInmueble" id="todosRadio" value="all"
                            @(usoInmuebleValor == "all" ? "checked" : "")>
                            <label class="form-check-label" for="todosRadio">
                                Todos
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="usoInmueble" id="comercialRadio"
                                value="comercial" @(usoInmuebleValor == "comercial" ? "checked" : "")>
                            <label class="form-check-label" for="comercialRadio">
                                Comercial
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="usoInmueble" id="residencialRadio"
                                value="residencial" @(usoInmuebleValor == "residencial" ? "checked" : "")>
                            <label class="form-check-label" for="residencialRadio">
                                Residencial
                            </label>
                        </div>
                        <div class="flex-item">
                            <input name="precioInmueble" class="form-control form-control-sm" type="number"
                                placeholder="Precio" aria-label="tipo-inmueble" value="@precioInmuebleValor">
                        </div>
                        <div class="flex-item">
                            <select name="tipoInmueble" class="form-select " aria-label="Select tipo">
                                <option value="">Filtrar tipo de inmueble</option>
                                @if (ViewBag.tipoInmuebles != null)
                                {
                                    foreach (var tipo in ViewBag.tipoInmuebles)
                                    {
                                        <option value="@tipo.id" selected="@(tipo.id == tipoInmuebleValor)">@tipo.tipo</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="flex-item">
                            <select name="ciudadInmueble" class="form-select " aria-label="Select Ciudad">
                                <option value="">Filtrar por ciudad</option>
                                @if (ViewBag.ciudades != null)
                                {
                                    foreach (var ciudad in ViewBag.ciudades)
                                    {
                                        <option value="@ciudad.id" selected="@(ciudad.id == ciudadInmuebleValor)">@ciudad.ciudad
                                        </option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="flex-item">
                            <button type="submit" class="btn btn-primary py-1">Buscar</button>
                        </div>
                    </div>
                </form>
                @* ---- Paginacion---- *@
                @if (ViewBag.TotalPages > 1)
                {
                    <div class="mt-2">
                        <ul class="pagination">
                            <li class="page-item @(ViewBag.paginaActual == 1 ? "disabled" : "")">
                                <a class="page-link" href="@urlLimpia&page=@(ViewBag.paginaActual - 1)"
                                    aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Anterior</span>
                                </a>
                            </li>
                            @* -- seccion de paginacion truncada --- *@
                            @* @for(int? i = paginaActual ; (i <= ViewBag.paginaActual + 3) || ViewBag.TotalPages > i ; i++)
                        *@
                            @for (int? i = paginaActual; i <= ViewBag.TotalPages && paginaActual >= 1; i++)
                            {
                                if (i > 0 && i <= paginaActual + 1 && i <= ViewBag.TotalPages )
                                {
                                    <li class="page-item @(i == paginaActual ? "active" : "")">
                                        <a class="page-link" href="@urlLimpia&page=@i">@i</a>
                                    </li>
                                }
                                if (i > 0 && i > paginaActual + 1 && i <= ViewBag.TotalPages - 1)
                                {
                                    <li class="page-item">
                                        <span class="page-link">...</span>
                                    </li>
                                }
                                if ((i > 0 && i > paginaActual + 2 && i <= ViewBag.TotalPages) || (i == ViewBag.TotalPages && paginaActual + 1 < ViewBag.TotalPages)) 
                                {
                                    <li class="page-item @(i == paginaActual ? "active" : "")">
                                        <a class="page-link" href="@urlLimpia&page=@i">@i </a>
                                    </li>
                                }
                            }
                            <li class="page-item @(ViewBag.paginaActual == ViewBag.TotalPages ? "disabled" : "")">
                                <a class="page-link" href="@urlLimpia&page=@(ViewBag.paginaActual + 1)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Siguiente</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            @* <tr>
            <th colspan="8">Cantidad: @Model.Count()</th>
            <th>
            <a href="/inmueble/create" class="btn btn-primary"><i class="fa fa-user-plus"></i> Nuevo
            Inmueble</a>
            </th>
            </tr> *@
            <tr>
                <th class="text-center">Tipo</th>
                <th class="text-center">Uso</th>
                <th class="text-center">Ambientes</th>
                <th class="text-center">Mapa</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Propietario</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Ciudad</th>
                <th class="text-center">Zona</th>
                <th class="text-center">Descripcion</th>
                <th colspan="4" class="text-center">Adminstracion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inmuebles in Model)
            {
                <tr>
                    <td class="text-center">@inmuebles.tipoInmueble?.tipo</td>
                    <td class="text-center">@inmuebles.uso</td>
                    <td class="text-center">@inmuebles.ambientes</td>
                    <td class="text-center"><a class="btn btn-secondary mx-2"
                            href="https://www.google.com/maps?q=@inmuebles.coordenadas " target="_blank"><i
                                class="fas fa-map-marked-alt mx-2"></i>Mapa</a></td>
                    <td class="text-center">@inmuebles.precio</td>
                    <td class="text-center">@inmuebles.propietario?.apellido, @inmuebles.propietario?.nombre </td>
                    <td class="text-center">@inmuebles.estado</td>
                    <td class="text-center">@inmuebles.ciudad?.ciudad</td>
                    <td class="text-center">@inmuebles.zona?.zona</td>
                    <td class="text-center">@inmuebles.descripcion</td>
                    <td colspan="4" class="text-center">
                        <a class="btn btn-secondary mx-2" asp-controller="inmueble" asp-action="Edit"
                            asp-route-id="@inmuebles.id"><i class="fas fa-user-edit"></i> Editar </a>
                        <a class="btn btn-danger mx-2" asp-controller="inmueble" asp-action="delete"
                            asp-route-id="@inmuebles.id"><i class="fas fa-user-times"></i>
                            Borrar </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script src="~/js/inmueble.js"></script>
}
