@model inmobiliaria_Toloza_Lopez.Models.Inmueble

@{
    ViewData["Title"] = "Inicio";
    Console.WriteLine(ViewBag.tipoForm);
    int id = 0;
    var direccion = "";
    var uso = "";
    var id_tipo = 1;
    var ambientes = 0;
    var coordenadas = "";
    var precio = (Decimal)0.00;
    var id_propietario = 0;
    var estado = "";
    var id_ciudad = 0;
    var id_zona = 0;
    var descripcion = "";
    var verbo = "Nuevo";
    if (ViewBag.tipoForm == "Editando Inmueble")
    {
        Console.WriteLine(ViewBag.verboForm);
        id = Model.id;
        direccion = Model.direccion;
        uso = Model.uso;
        id_tipo = Model.id_tipo;
        ambientes = Model.ambientes;
        coordenadas = Model.coordenadas;
        precio = Model.precio;
        id_propietario = Model.id_propietario;
        estado = Model.estado;
        id_ciudad = Model.id_ciudad;
        id_zona = Model.id_zona;
        descripcion = Model.descripcion;
        verbo = ViewBag.verboForm;
    }
}

<div class="container w-75 m-5">
    <div class="text-center">
        <h1 class="display-3">@ViewBag.tipoForm</h1>
    </div>
    <form asp-action="@verbo" asp-controller="inmueble" asp-route-id="@(((int)id != 0) ? (int)id : "")">
        <div class="w-100 m-5">
            <div class="w-75 m-5">
                <label for="direccion-inmueble" class="">Direcci贸n</label>
                <input type="text" class="form-control" id="direccion-inmueble" placeholder="Ingrese direcci贸n"
                    name="direccion" required verfy="text" value="@direccion">
            </div>
            <div class="w-75 m-5">
                <label for="uso-inmueble" class="">Uso</label>
                <input type="text" class="form-control" id="uso-inmueble" placeholder="Ingrese uso" name="uso" required
                    verfy="text" value="@uso">
            </div>
            <div class="w-75 m-5">
                <label for="id-tipo-inmueble" class="">ID Tipo</label>
                <input type="number" class="form-control" id="id-tipo-inmueble" placeholder="Ingrese ID tipo"
                    name="id_tipo" required verfy="number" value="@id_tipo">
            </div>
            <div class="w-75 m-5">
                <label for="ambientes-inmueble" class="">Ambientes</label>
                <input type="number" class="form-control" id="ambientes-inmueble"
                    placeholder="Ingrese cantidad de ambientes" name="ambientes" required verfy="number"
                    value="@ambientes">
            </div>
            <div class="w-75 m-5">
                <label for="coordenadas-inmueble" class="">Coordenadas</label>
                <input type="text" class="form-control" id="coordenadas-inmueble" placeholder="Ingrese coordenadas"
                    name="coordenadas" required verfy="text" value="@coordenadas">
            </div>
            <div class="w-75 m-5">
                <label for="precio-inmueble" class="">Precio</label>
                <input type="number" class="form-control" id="precio-inmueble" placeholder="Ingrese precio"
                    name="precio" required verfy="number" value="@precio">
            </div>
            <div class="w-75 m-5">
                <label for="id-propietario-inmueble" class="">ID Propietario</label>
                <input type="number" class="form-control" id="id-propietario-inmueble"
                    placeholder="Ingrese ID propietario" name="id_propietario" required verfy="number"
                    value="@id_propietario">
            </div>
            <div class="w-75 m-5">
                <label for="estado-inmueble" class="">Estado</label>
                <input type="text" class="form-control" id="estado-inmueble" placeholder="Ingrese estado" name="estado"
                    required verfy="text" value="@estado">
            </div>
            <div class="w-75 m-5">
                <label for="id-ciudad-inmueble" class="">ID Ciudad</label>
                <input type="number" class="form-control" id="id-ciudad-inmueble" placeholder="Ingrese ID ciudad"
                    name="id_ciudad" required verfy="number" value="@id_ciudad">
            </div>
            <div class="w-75 m-5">
                <label for="id-zona-inmueble" class="">ID Zona</label>
                <input type="number" class="form-control" id="id-zona-inmueble" placeholder="Ingrese ID zona"
                    name="id_zona" required verfy="number" value="@id_zona">
            </div>
            <div class="w-75 m-5">
                <label for="descripcion-inmueble" class="">Descripci贸n</label>
                <textarea class="form-control" id="descripcion-inmueble" rows="3" placeholder="Ingrese descripci贸n"
                    name="descripcion" required verfy="text">@descripcion</textarea>
            </div>
        </div>
        <div class="modal-footer  justify-content-around">
            <a href="/inmueble" class="btn btn-secondary">
                Cerrar
            </a>
            <button type="reset" class="btn btn-warning">Borrar</button>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>
@section Scripts {
    <script src="~/js/propietario.js"></script>
}
