@model inmobiliaria_Toloza_Lopez.Models.Inmueble

@{
    ViewData["Title"] = "Inmuebles";    
    int id = 0;
    var direccion = "";
    var uso = "Residencial";
    var id_tipo = 0;
    var ambientes = 0;
    var coordenadas = "";
    var precio = (Decimal)0.00;
    var id_propietario = ViewBag.id_propietario;
    var estado = "Disponible";
    var id_ciudad = 0;
    var id_zona = 0;
    var descripcion = "";
    var verbo = "Nuevo";
    if (ViewBag.tipoForm == "Editando Inmueble")
    {
        id = Model.id;
        direccion = Model.direccion;
        uso = Model.uso.ToString();
        id_tipo = Model.id_tipo;
        ambientes = Model.ambientes;
        coordenadas = Model.coordenadas;
        precio = Model.precio;
        id_propietario = Model.id_propietario;
        estado = Model.estado.ToString();
        id_ciudad = Model.id_ciudad;
        id_zona = Model.id_zona;
        descripcion = Model.descripcion;
        verbo = ViewBag.verboForm;
    }
    var  userRol = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value;
}

<div class="container w-100 mx-5">
    <div class="text-center w-100 mx-5">
        <h1 class="display-5">@ViewBag.tipoForm</h1>
    </div>
   <form asp-action="@verbo" asp-controller="inmueble" asp-route-id="@(((int)id != 0) ? (int)id : "")">
        <div class="w-100 mx-5">
            <div class="w-100 mx-5">
                <label for="direccion-inmueble" class="mb-0 mt-1">Dirección</label>
                <input type="text" class="form-control" id="direccion-inmueble" placeholder="Ingrese dirección"
                    name="direccion" required verfy="text" value="@direccion">
            </div>
            <div class="w-100 mx-5">
                <label for="uso-inmueble" class="mb-0 mt-1">Uso</label>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="uso" id="comercial" value="Comercial" @if (uso
                            == "Comercial")
                        {
                            <text>checked</text>
                        }>
                        <label class="form-check-label" for="comercial">Comercial</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="uso" id="residencial" value="Residencial"
                        @if (uso == "Residencial"){<text>checked</text>}>
                        <label class="form-check-label" for="residencial">Residencial</label>
                    </div>
                </div>
            </div>
            <div class="w-100 mx-5">
                <label for="id-tipo-inmueble" class="mb-0 mt-1">Tipo de Inmueble</label>
                <select class="form-select" id="id-tipo-inmueble" name="id_tipo" required>
                    <option value="">Seleccione el tipo de inmueble</option>
                        @if (ViewBag.tipoInmuebles != null)
                            {
                                foreach (var tipo in ViewBag.tipoInmuebles)
                                {
                                    <option value="@tipo.id" selected="@(tipo.id == id_tipo)">@tipo.tipo</option>
                                }
                            }
                </select>
            </div>
            <div class="w-100 mx-5">
                <label for="ambientes-inmueble" class="mb-0 mt-1">Ambientes</label>
                <input type="number" class="form-control" id="ambientes-inmueble"
                    placeholder="Ingrese cantidad de ambientes" name="ambientes" required verfy="number"
                    value="@ambientes">
            </div>
            <div class="w-100 mx-5">
                <label for="coordenadas-inmueble" class="mb-0 mt-1">Coordenadas</label>
                <input type="text" class="form-control" id="coordenadas-inmueble" placeholder="Ingrese coordenadas"
                    name="coordenadas" required verfy="text" value="@coordenadas">
            </div>
            <div class="w-100 mx-5">
                <label for="precio-inmueble" class="mb-0 mt-1">Precio</label>
                <input type="number" step ="0.01" class="form-control" id="precio-inmueble" placeholder="Ingrese precio"
                    name="precio" required verfy="number" value="@precio">
            </div>
            <div class="w-100 mx-5">
                <label for="id-propietario-inmueble" class="mb-0 mt-1">Propietario del Inmueble</label>
                <select class="form-select" id="id_propietario" name="id_propietario" required>
                <option value="">Seleccione El propietario</option>
                @if (ViewBag.propietarios != null)
                {
                    foreach (var prop in ViewBag.propietarios)
                    {
                        <option value="@prop.id" selected="@(prop.id == id_propietario)">@prop.nombre @prop.apellido  dni: @prop.dni</option>
                    }
                }
            </select>
            </div>
        <div class="w-100 mx-5">
            <label for="estado-inmueble">Estado</label>
            <select class="form-select" name="estado" id="estado">
                @if(estado == "Disponible")
                {
                    <option value="Disponible" selected>Disponible</option>
                    <option value="Retirado">Retirado</option>
                }
                else
                {
                    <option value="" >Seleccione Estado</option>
                    <option value="Disponible">Disponible</option>
                    <option value="Retirado" selected>Retirado</option>
                }
            </select>
            </div>
            <div class="w-100 mx-5">
                <label for="id-ciudad-inmueble" class="mb-0 mt-1">Ciudad</label>
                 <select class="form-select" id="id-ciudad" name="id_ciudad" required>
                <option value="">Seleccione la ciudad</option>
                @if (ViewBag.ciudades != null)
                {
                    foreach (var ciudad in ViewBag.ciudades)
                    {
                        <option value="@ciudad.id" selected="@(ciudad.id == id_ciudad)">@ciudad.ciudad</option>
                    }
                }
            </select>
            </div>
            <div class="w-100 mx-5">
                <label for="id-zona-inmueble" class="mb-0 mt-1">Zona</label>
            <select class="form-select" id="id_zona" name="id_zona" required>
                <option value="">Seleccione la Zona</option>
                @if (ViewBag.zonas != null)
                {
                    foreach (var zona in ViewBag.zonas)
                    {
                        <option value="@zona.id" selected="@(zona.id == id_zona)">@zona.zona</option>
                    }
                }
            </select>
            </div>
            <div class="w-100 mx-5">
                <label for="descripcion-inmueble" class="mb-0 mt-1">Descripción</label>
                <textarea class="form-control" id="descripcion-inmueble" rows="2" placeholder="Ingrese descripción"
                    name="descripcion" required verfy="text">@descripcion</textarea>
            </div>
        </div>
        <div class="d-flex  justify-content-end m-5 w-100">      
            <a href="/inmueble" class="btn btn-secondary mx-5">
                Cancelar
            </a>
            @if (userRol == "administrador"){
            <button type="reset" class="btn btn-warning mx-5" onclick="alerta()">Borrar</button>
            }
            <button type="submit" class="btn btn-primary mx-5">
                Guardar
            </button>
        </div>
    </form>
</div>
@section Scripts {
    <script src="~/js/propietario.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function alerta() {
            Swal.fire({
                title: 'Cuidado!',
                text: '¿Está seguro que quiere limpiar el formulario?',
                icon: 'question',
                showCloseButton: true,
                showCancelButton: true
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire("Limpiando", "", "success");
                }
            });
        }        
    </script>
}