@model inmobiliaria_Toloza_Lopez.Models.Inmueble
@{
    @using inmobiliaria_Toloza_Lopez.Controllers
    var tiposInmuebles = new TipoInmuebleController().CargarDatosEnViewBag();
    var ciudades = new CiudadController().CargarCiudades();
    var zonas = new ZonaController().CargarZonas();
    ViewData["Title"] = "Inmuebles";
    @* Console.WriteLine(ViewBag.tipoForm); *@
    int id = 0;
    var direccion = "";
    var uso = "";
    var id_tipo = 1;
    var ambientes = 0;
    var coordenadas = "";
    var precio = (Decimal)0.00;
    var id_propietario = 0;
    var estado = "";
    var id_ciudad = 0;
    var id_zona = 0;
    var descripcion = "";
    var verbo = "Nuevo";
    if (ViewBag.tipoForm == "Editando Inmueble")
    {
        Console.WriteLine(ViewBag.verboForm);
        id = Model.id;
        direccion = Model.direccion;
        uso = Model.uso;
        id_tipo = Model.id_tipo;
        ambientes = Model.ambientes;
        coordenadas = Model.coordenadas;
        precio = Model.precio;
        id_propietario = Model.id_propietario;
        estado = Model.estado;
        id_ciudad = Model.id_ciudad;
        id_zona = Model.id_zona;
        descripcion = Model.descripcion;
        verbo = ViewBag.verboForm;
    }
}

<div class="container w-75 m-5">
    <div class="text-center">
        <h1 class="display-3">@ViewBag.tipoForm</h1>
    </div>
   <form asp-action="@verbo" asp-controller="inmueble" asp-route-id="@(((int)id != 0) ? (int)id : "")">
        <div class="w-100 m-5">
            <div class="w-75 m-5">
                <label for="direccion-inmueble" class="">Dirección</label>
                <input type="text" class="form-control" id="direccion-inmueble" placeholder="Ingrese dirección"
                    name="direccion" required verfy="text" value="@direccion">
            </div>
            <div class="w-75 m-5">
                <label for="uso-inmueble" class="">Uso</label>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="uso" id="comercial" value="Comercial" @if (uso
                            == "Comercial")
                        {
                            <text>checked</text>
                        }>
                        <label class="form-check-label" for="comercial">Comercial</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="uso" id="residencial" value="Residencial"
                        @if (uso == "Residencial")
                        {
                            <text>checked</text>
                        }>
                        <label class="form-check-label" for="residencial">Residencial</label>
                    </div>
                </div>
            </div>
                <div class="w-75 m-5">
                <label for="id-tipo-inmueble" class="">Tipo de Inmueble</label>
         <select class="form-select" id="id-tipo-inmueble" name="id_tipo" required>
                <option value="">Seleccione el tipo de inmueble</option>
                @if (tiposInmuebles != null)
                {
                    foreach (var tipo in tiposInmuebles)
                    {
                        <option value="@tipo.id" selected="@(tipo.id == id_tipo)">@tipo.tipo</option>
                    }
                }
            </select>
            </div>
            <div class="w-75 m-5">
                <label for="ambientes-inmueble" class="">Ambientes</label>
                <input type="number" class="form-control" id="ambientes-inmueble"
                    placeholder="Ingrese cantidad de ambientes" name="ambientes" required verfy="number"
                    value="@ambientes">
            </div>
            <div class="w-75 m-5">
                <label for="coordenadas-inmueble" class="">Coordenadas</label>
                <input type="text" class="form-control" id="coordenadas-inmueble" placeholder="Ingrese coordenadas"
                    name="coordenadas" required verfy="text" value="@coordenadas">
            </div>
            <div class="w-75 m-5">
                <label for="precio-inmueble" class="">Precio</label>
                <input type="number" class="form-control" id="precio-inmueble" placeholder="Ingrese precio"
                    name="precio" required verfy="number" value="@precio">
            </div>
            <div class="w-75 m-5">
                <label for="id-propietario-inmueble" class="">ID Propietario</label>
                <input type="number" class="form-control" id="id-propietario-inmueble"
                    placeholder="Ingrese ID propietario" name="id_propietario" required verfy="number"
                    value="@id_propietario">
            </div>
        <div class="w-75 m-5">
            <label for="estado-inmueble">Estado</label>
            <select class="form-select" name="estado" id="estado">
                @if(estado == "No Disponible")
                {
                    <option value="No Disponible" selected>No disponible</option>
                    <option value="Disponible">Disponible</option>
                    <option value="Reserva">Reserva</option>
                }
                else if(estado == "Disponible")
                {
                    <option value="No Disponible">No disponible</option>
                    <option value="Disponible" selected>Disponible</option>
                    <option value="Reserva">Reserva</option>
                }
                else if(estado == "Reserva")
                {
                    <option value="No Disponible">No disponible</option>
                    <option value="Disponible">Disponible</option>
                    <option value="Reserva" selected>Reserva</option>
                }
                else
                {
                    <option value="No Disponible">No disponible</option>
                    <option value="Disponible">Disponible</option>
                    <option value="Reserva">Reserva</option>
                }
            </select>
            </div>
            <div class="w-75 m-5">
                <label for="id-ciudad-inmueble" class="">Ciudad</label>
                 <select class="form-select" id="id-ciudad" name="id_ciudad" required>
                <option value="">Seleccione la ciudad</option>
                @if (ciudades != null)
                {
                    foreach (var ciudad in ciudades)
                    {
                        <option value="@ciudad.id" selected="@(ciudad.id == id_ciudad)">@ciudad.ciudad</option>
                    }
                }
            </select>
            </div>
            <div class="w-75 m-5">
                <label for="id-zona-inmueble" class="">Zona</label>
            <select class="form-select" id="id_zona" name="id_zona" required>
                <option value="">Seleccione la Zona</option>
                @if (zonas != null)
                {
                    foreach (var zona in zonas)
                    {
                        <option value="@zona.id" selected="@(zona.id == id_zona)">@zona.zona</option>
                    }
                }
            </select>
            </div>
            <div class="w-75 m-5">
                <label for="descripcion-inmueble" class="">Descripción</label>
                <textarea class="form-control" id="descripcion-inmueble" rows="3" placeholder="Ingrese descripción"
                    name="descripcion" required verfy="text">@descripcion</textarea>
            </div>
        </div>
        <div class="modal-footer  justify-content-around">
            <a href="/inmueble" class="btn btn-secondary">
                Cerrar
            </a>
            <button type="reset" class="btn btn-warning" onclick="alerta()">Borrar</button>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>
@section Scripts {
    <script src="~/js/propietario.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function alerta() {
            Swal.fire({
                title: 'Cuidado!',
                text: '¿Está seguro que quiere limpiar el formulario?',
                icon: 'question',
                showCloseButton: true,
                showCancelButton: true
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire("Limpiando", "", "success");
                }
            });
        }
    </script>
}