@model IEnumerable<Inmueble>
@{
    string? datosPropietario = Model.FirstOrDefault().datosPropietario();
    ViewData["Title"] = "Inicio";
var  userRol = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value;
}
<div class="text-center">
    <h1 class="display-4">Listado de Inmuebles @datosPropietario </h1>
</div>
<div>
    @if (!(Model != null && Model.Any()))
    {
        <div class="alert alert-warning" role="alert">
            <p>Lo siento no pudimos encontrar inmeuble segun su pedido</p>
            <p>Refine su filtro he intente nuevamente</p>
        </div>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">@Html.DisplayNameFor(model => model.tipoInmueble.tipo)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.uso)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.ambientes)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.precio)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.estado)</th> 
                    <th class="text-center">@Html.DisplayNameFor(model => model.ciudad)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.zona)</th>                
                    <th class="text-center">@Html.DisplayNameFor(model => model.descripcion)</th>
                    <th colspan="7" class="text-center">AdminIstración</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var inmueble in Model)
                {
                    <tr>
                        <td class="text-center">@inmueble.tipoInmueble?.tipo</td>
                        <td class="text-center">@inmueble.uso</td>
                        <td class="text-center">@inmueble.ambientes</td>
                        <td class="text-center">$ @inmueble.precio</td>
                        <td class="text-center">@inmueble.estado</td>
                        <td class="text-center">@inmueble.ciudad?.ciudad</td>
                        <td class="text-center">@inmueble.zona?.zona</td>
                        <td colspan="2" class="text-center"> @((inmueble.descripcion.Length > 60) ? inmueble.descripcion.Substring(0, 60) + "..." : inmueble.descripcion)</td>
                        <td colspan="7" class="text-center">                           
                            <a class="btn btn-info py-1 mx-1" href="https://www.google.com/maps?q=@inmueble.coordenadas " target="_blank">
                                <i class="fas fa-map-marked-alt mx-2"> Mapa</i>
                            </a> 
                            <a class="btn btn-secondary py-1 mx-1" asp-controller="inmueble" asp-action="edit" asp-route-id="@inmueble.id">
                                <i class="fas fa-building"> Editar</i>                                
                            </a>
                            <a class="btn btn-secondary py-1 mx-1" asp-controller="contrato" asp-action="create"
                                asp-route-id="@inmueble.id">
                                <i class="fas fa-file-contract"> Crea Contrato</i>                                
                            </a>
                            @if (userRol == "administrador"){
                                <a class="btn btn-secondary py-1 mx-1" asp-controller="contrato" asp-action="list" asp-route-id="@inmueble.id">
                                   <i class="fas fa-folder-open"> Contratos</i>                                
                                </a>                            
                                <a class="btn btn-danger py-1 mx-1" asp-controller="inmueble" asp-action="delete"  asp-route-id="@inmueble.id">
                                    <i class="fas fa-trash-alt"> Borrar</i>                                
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <div id="mapView" title="Mapa de Google" style="width: 600px; height: 600px;"></div>

</div>
@section Scripts {
    <script src="~/js/inmueble.js" asp-append-version="true"></script>
}
