@model IEnumerable<Inquilino>
@{
    ViewData["Title"] = "Inicio";
}
<div class="text-center">
    <h1 class="display-4">Listado de Inquilinos</h1>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="6">Cantidad: @Model.Count()</th>
                <th>
                    <a href="/inquilino/create" class="btn btn-primary"><i class="fa fa-user-plus"></i> Nuevo inquilino</a>
                </th>
            </tr>
            <tr>             
                <th class="text-center">Nombre</th>
                <th class="text-center">Apellido</th>
                <th class="text-center">DNI</th>
                <th class="text-center">Telefono</th>
                <th class="text-center">Email</th>
                <th colspan="2" class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inquilino in Model)
            {
                <tr>
                    <td class="text-center">@inquilino.nombre</td>
                    <td class="text-center">@inquilino.apellido</td>
                    <td class="text-center">@inquilino.dni</td>
                    <td class="text-center">@inquilino.telefono</td>
                    <td class="text-center">@inquilino.email</td>
                    <td colspan="2" class="text-center">
                        <a class="btn btn-secondary mx-2" asp-controller="Inquilino" asp-action="update" asp-route-id="@inquilino.id"><i
                                class="fas fa-user-edit"></i> Editar </a>
                        <a class="btn btn-danger mx-2" asp-controller="Inquilino" asp-action="delete" asp-route-id="@inquilino.id"><i
                                class="fas fa-user-times"></i>
                            Borrar </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="container">
<p><< paginador >> </p>    
</div>
@section Scripts {    
    @* <script src="~/js/inquilino.js"></script> *@
}


