@model IEnumerable<Contrato>
@{
    var inmueble = ViewBag.inmueble;
    var id = ViewBag.id;
}

<div class="container w-75 m-5">
    <div class="text-center">
        <h1 class="display-3">@ViewBag.tipoForm</h1>
    </div>
    @if (TempData["mensaje"] != null) {
        @Html.Raw(TempData["mensaje"])
    }
    <form asp-action="@ViewBag.action" asp-controller="@ViewBag.controller" method="post">

        <input hidden id="idInmueble" name="idInmueble" value="@inmueble.id">
        <input hidden id="idContratoOld" name="id" value="@id">
        <div class="w-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label text-md-left">Datos inmueble</label>
                            <p class="form-control w-100 text-truncate" id="dataInmueble">@ViewBag.inmueble.ToString()</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label for="idInquilino" class="col-md-2 col-form-label text-md-right align-items-center">Inquilino</label>
                            <div class="col-md-4">
                                <input class="form-control my-2" id="valueInquilino" name="value" type="text" placeholder="Ingrese nombre, apellido, email o dni">
                            </div>
                            <div class="col-md-6">
                                <select class="form-select my-2 d-none" id="idInquilino" name="idInquilino" required></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="contratoEtapa2" class="d-none">
            <div class="w-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label for="fechaInicio" class="col-md-2 col-form-label text-md-right">Fecha inicio Contrato</label>
                                <div class="col-md-2">
                                    <input class="form-control" id="fechaInicio" name="fechaInicio" type="date">
                                </div>
                                <label for="fechaFin" class="col-md-2 col-form-label text-md-right">Fecha fin Contrato</label>
                                <div class="col-md-2">
                                    <input class="form-control" id="fechaFin" name="fechaFin" type="date">
                                    <input class="form-control" id="fechaFin" name="fechaFin" type="date" hidden>
                                </div>
                                <label for="montoMes" class="col-md-2 col-form-label text-md-right">Monto mensual</label>
                                <div class="col-md-2">
                                    <input class="form-control" id="montoMes" name="montoMes" type="number" step="any" placeholder="Ingrese monto">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 mt-5">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-md-5">
                            <button type="submit" class="btn btn-primary w-50">Registrar Contrato</button>
                        </div>
                        <div class="col-md-5">
                            <button type="button" class="btn btn-secondary w-50">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
        <style>
            .modaljj {                
                position: fixed;
                z-index: 1;
                padding-top: 100px;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgb(0,0,0);
                background-color: rgba(0,0,0,0.4);
                z-index: 1005;
            }
            .modalmain{
                background-color: #fefefe;
                margin: auto;
                padding: 20px;
                border: 1px solid #888;
                width: 50%;
                border-radius: 10px;
            }
        </style>
    <div id="modalInquilino" class="modaljj d-none">
        <div class="modalmain">
            <div><h1>Alta Inquilino</h1></div>
            <form id="formInquilino">
                <div class="w-100 ">
                    <label for="nombre-inquilino" class="">Nombre Inquilino</label>
                    <input type="text" class="form-control" id="nombre-inquilino" placeholder="Ingrese nombre" name="nombre"
                        required verfy="text" value="aaa" >
                </div>
                <div class="w-100 ">
                    <label for="apellido-inquilino" class="">Apellido Inquilino</label>
                    <input type="text" class="form-control" id="apellido-inquilino" placeholder="Ingrese apellido"
                        name="apellido" required verfy="text" value="bbb">
                </div>
                <div class="w-100 ">
                    <label for="dni-inquilino" class="">Documento Inquilino</label>
                    <input type="number" class="form-control" id="dni-inquilino" placeholder="Ingrese DNI" name="dni" required
                        verfy="number" value="2222"  title="Ingrese un dni valido" >
                </div>
                <div class="w-100 ">
                    <label for="email-inquilino" class="">Email Inquilino</label>
                    <input type="email" class="form-control" id="email-inquilino" placeholder="Ingrese Email" name="email"
                        title="Ingrese un email valido" required verfy="email" value="aaa@ddd" >
                </div>
                <div class="w-100 ">
                    <label for="telefono-inquilino" class="">Telefono Inquilino</label>
                    <input type="text" class="form-control" id="telefono-inquilino" placeholder="Ingrese Telefono" name="telefono"
                        title="Ingrese un Telefono valido" required verfy="telefono" value="234">
                </div>
                <div class=" d-flex justify-content-around w-100 mt-3 ">
                <button id="btnSend" class="btn btn-primary my-3 w-25" >Crear inquilino</button>  
                <button id="btnCancel"  class="btn btn-primary my-3 w-25">Cancelar</button>  
                </div>
           </form> 
        </div> 
        
    </div>   
</div>

@section Scripts {
    <script src="~/js/contrato.js" asp-append-version="true"></script>
}
