@model IEnumerable<Contrato>
@{
    ViewData["Title"] = "Inicio";
    var  userRol = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value;
 }
<div class="text-center">
    <h1 class="display-4">Listado de Contratos</h1>
</div>
<div>
    <table class="table table-striped">
        <thead>
            @* <tr>
                <th colspan="7">Cantidad: @Model.Count()</th>
                <th>
                    <a asp-asp-controller="contrato" asp-action="create"  class="btn btn-primary">
                        <i class="fa fa-user-plus"></i>
                            Nuevo Contrato
                    </a>
                </th>
            </tr>
            *@
            <tr>
                <th class="text-center">Inicia</th>
                <th class="text-center">Finaliza</th>
                <th class="text-center">Monto</th>
                <th class="text-center">Inquilino</th>
                <th class="text-center">Propietario</th>
                <th colspan="5" class="text-center">Administracion</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var contratos in Model)
            {
                <tr>
                    <td class="text-center">
                        @contratos.fecha_inicio
                    </td>
                    <td class="text-center">
                        @contratos.fecha_fin
                    </td>
                    <td class="text-center">
                        $ @contratos.monto
                    </td>
                    <td class="text-center">
                        @contratos.inquilino.apellido, @contratos.inquilino.nombre
                    </td>
                    <td class="text-center">
                        @contratos.inmueble.propietario.apellido, @contratos.inmueble.propietario.nombre
                    </td>
                    <td colspan="4" class="text-center">
                        <a class="btn btn-secondary mx-2" asp-controller="contrato" asp-action="edit"
                            asp-route-id="@contratos.id"><i class="fas fa-file-signature mx-2"> Editar</i> 
                        </a>
                        <a class="btn btn-secondary mx-2" asp-controller="pago" asp-action="asignar"
                            asp-route-id="@contratos.id"><i class="fas fa-file-invoice-dollar p-1 mx-2"> Asignar Pago</i> 
                        </a>
                          @if (userRol == "administrador"){
                        <a class="btn btn-danger mx-2" asp-controller="contrato" asp-action="delete"
                            asp-route-id="@contratos.id" title="Imprimir contratos"><i class="fas fa-trash-alt mx-2"></i> Borrar
                        </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="container">
    <p>
        << paginador>>
    </p>
</div>
@section Scripts {
    @* <script src="~/js/inquilino.js"></script> *@
}
