@model IEnumerable<Contrato>
@{
    var request = ViewContext.HttpContext.Request;
   // string? fechaInicioPedida = string.IsNullOrEmpty(request.Query["fechaInicioPedida"]) ? DateTime.Today.ToString("yyyy-MM-dd") : request.Query["fechaInicioPedida"];
    string? fechaInicioPedida = request.Query["fechaInicioPedida"];
    string? fechaFinPedida = request.Query["fechaFinPedida"];    
   string? contratoVence = string.IsNullOrEmpty(request.Query["contratoVence"])?"" : request.Query["contratoVence"];
    string? precioInmuebleValor=null;
    string? urlLimpia = Url.Action("", new { });
    ViewData["Title"] = "Inicio";
    
    var  userRol = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value;
}
<div class="text-center">
    <h1 class="display-4">Listado de Contratos</h1>
</div>
<div>
    <div class="container-fluid p-0">
        <label class="form-check-label fs-4" for="formInmueble">Busqueda inmuebles  </label>
        <div class="border-top border-bottom mb-1 ">            
            <div class="d-flex justify-content-between align-items-center px-3 py-2">                
                <form id= "formInmueble" method="get" action="/contrato" name="form-inmueble" class="d-flex justify-content-evenly w-100">
                    <input hidden type="text" name="page" value=1>
                    <div class="d-flex justify-content-evenly w-100  align-items-center ">
                        <div class="d-flex flex-row ">
                            <div class="form-check mx-5">
                                <input class="form-check-input" type="radio" name="contratoVence" id="todosRadio" value=""
                                    @(contratoVence == "" ? "checked" : "")>
                                <label class="form-check-label" for="todosRadio"> Todos</label>
                            </div>
                            <div class="form-check mx-5">
                                <input class="form-check-input" type="radio" name="contratoVence" id="todosRadio" value="30"
                                    @(contratoVence == "30" ? "checked" : "")>
                                <label class="form-check-label" for="todosRadio"> 30 dias</label>
                            </div>
                            <div class="form-check mx-5">
                                <input class="form-check-input" type="radio" name="contratoVence" id="comercialRadio" value="60"
                                    @(contratoVence == "60" ? "checked" : "")>
                                <label class="form-check-label" for="comercialRadio"> 60 dias</label>
                            </div>
                            <div class="form-check mx-5">
                                <input class="form-check-input" type="radio" name="contratoVence" id="residencialRadio" value="90"
                                    @(contratoVence == "90" ? "checked" : "")>
                                <label class="form-check-label" for="residencialRadio"> 90 dias</label>
                            </div>
                        </div>
                        <div class="flex-item">
                            <label class="form-check-label" for="fechaInicioPedida">Fecha inicio</label>
                            <input id="fechaInicioPedida" name="fechaInicioPedida" class="form-control form-control-sm" type="date"
                                placeholder="Fecha Inicio" aria-label="fecha-inicio-pedida" value="@fechaInicioPedida">
                        </div>
                        <div class="flex-item">
                            <label class="form-check-label" for="fechaFinPedida">Fecha fin</label>
                            <input id="fechaFinPedida" name="fechaFinPedida" class="form-control form-control-sm" type="date"
                                placeholder="Fecha Fin" aria-label="fecha-fin-pedida" value="@fechaFinPedida">
                        </div>                      
                        
                        <div class="flex-item">
                            <button type="submit" class="btn btn-primary py-3 mr-2">Buscar</button>
                            <a href="/contrato"  class="btn btn-success py-3" >Reset</a>
                        </div>
                    </div>
                </form>                
            </div>
        </div>
    </div>
    @if (TempData["mensaje"] != null) @Html.Raw(TempData["mensaje"])
    @if (!(Model != null && Model.Any()))
    {
        <div class="alert alert-warning" role="alert">
            <p>Lo siento no pudimos encontrar inmeuble segun su pedido</p>
            <p>Refine su filtro he intente nuevamente</p>
        </div>
    }
    else
    {
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Inicia</th>
                <th class="text-center">Finaliza</th>
                <th class="text-center">Dias a fin</th>
                <th class="text-center">Monto</th>
                <th class="text-center">Inquilino</th>
                <th class="text-center">Propietario</th>
                <th colspan="5" class="text-center">Administracion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contrato in Model)
            {
                <tr>
                    <td class="text-center">
                        @contrato.inmueble.id @contrato.fecha_inicio
                    </td>
                    <td class="text-center">
                        @contrato.fecha_fin
                    </td>
                    <td class="text-center">
                        @contrato.dias_to_fin
                    </td>
                    <td class="text-center">
                        $ @contrato.monto
                    </td>
                    <td class="text-center">
                        @contrato.inquilino.apellido, @contrato.inquilino.nombre
                    </td>
                    <td class="text-center">
                        @contrato.inmueble.propietario.apellido, @contrato.inmueble.propietario.nombre
                    </td>
                    <td colspan="4" class="text-center">
                        <a class="btn btn-secondary mx-2" 
                            asp-controller="contrato" 
                            asp-action="editar"
                            asp-route-id="@contrato.id"
                            title="Editar Contrato">
                                <i class="fas fa-file-signature mx-2"> Editar</i> 
                        </a>
                        <a class="btn btn-secondary mx-2"
                            asp-controller="pago" 
                            asp-action="registrar"
                            asp-route-id="@contrato.id"
                            title="Registrar Pago">
                                <i class="fas fa-file-invoice-dollar p-1 mx-2"> Registrar Pago</i> 
                        </a>
                        <a class="btn btn-secondary mx-2"
                            asp-controller="pago" 
                            asp-action="listarPagosPorContrato"
                            asp-route-id="@contrato.id"
                            title="Listar Pagos">
                                <i class="fas fa-file-invoice-dollar p-1 mx-2">Listar Pagos</i> 
                        </a>
                        <a class="btn btn-danger mx-2" 
                            asp-controller="pago"
                            asp-action="cancel"
                            asp-route-id="@contrato.id" title="Cancelar contrato">
                            <i class="fas fa-file-excel mx-2"> Cancelar</i>
                        </a>            
                        <a class="btn btn-success mx-2 @(contrato.estaVencido() || !contrato.debeRenovar() ? "hidden-link" : "")" 
                            asp-controller="contrato" 
                            asp-action="renovar"  
                            asp-route-id="@contrato.id" 
                            title="Renovar contrato">
                                <i class="fas fa-file-signature mx-2"> Renovar</i>
                        </a>                                    
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
    <div class="container">
        <p>
            << paginador>>
        </p>
    </div>
</div>
@section Scripts {
    @* <script src="~/js/inquilino.js"></script> *@
    <script>
        document.querySelector('.hidden-link').style.visibility = 'hidden';
    </script>
}
